@model List<ControleFinanceiro.Web.ViewModels.TransacaoViewModel>

<h2>Lista de Transação</h2>

<a asp-action="Criar" class="btn btn-primary">Nova Transação</a>

<table class="table">
    <thead>
        <tr>
            <th>Título</th>
            <th>Tipo</th>
            <th>Valor</th>
            <th>Categoria</th>
            <th>Data da Transação</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Titulo</td>
                <td>@item.Tipo</td>
                <td>@item.Valor</td>
                <td>@item.CategoriaNome</td>
                <td>@item.PagoOuRecebidoEmFormatado</td>
                <td>
                    <a asp-action="Editar" asp-route-id="@item.Id">Editar</a> |
                    <a asp-action="Deletar" asp-route-id="@item.Id">Deletar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
